:root {
  /* font-family */
  --main-family: "Nunito sans", sans-serif;
  --headers-family: "Open sans", sans-serif;

  /* font-sizes */
  --nav-size: 18px;
  --section-title-size: 60px;
  --main-size: 20px;
  --service-tiitle-size: 28px;

  /* colors */
  --main-color: #ffffff;
  --secondary: #ffffffb2;
  --primary: #5454d4;

  /* spicific variables */
  --container-width: 1200px;
}

@media (max-width: 440px) {
  :root {
    --main-size: 16px;
  }
}
